body {
}
#lblGrupo,#lblInicio,#lblProductos{
    display: block;
    margin: 0 auto;
    text-align:center;
    font-size: 2em;
}
.Ejercicios-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    height: 5em;
    margin: 0 auto;
    border:2px dotted black;
}
#ej1, #ej2 {
    text-align: center;
    justify-content: center;
    align-content:center;
    height:100%;
    transition: all 2s ease;
    text-decoration:none;
    color: black;
}

